[2012-11-27 02:13] stonier opened #1 "Push and Pop Formatter Broken"
From [kobuki](https://github.com/yujinrobot/kobuki/issues/172).

In my opinion, the bug is [here](https://github.com/stonier/ecl_core/blob/master/ecl_containers/include/ecl/containers/push_and_pop/formatters.hpp#L108).

`follower` member variable of `ecl::PushAndPop` is not always zero, but `ecl::formatters::ByteArrayFormatter` always reads buffer from zero.

[2012-12-03 03:22] stonier commented on #1
Fixed in 9397c6b872cba3e894171507ef23f366fc968f3e

PushAndPop rolls over, so stencils and simple formatters on windows just doesn't work. I have a formatter that now works, but it isn't as fast because it's iterating individually over the elements since they are not guaranteed to be contiguous.

[2012-12-03 03:22] #1 closed, assigned to stonier

[2012-12-04 00:03] jakan2 opened #2 "ecl_core/ecl_threads"
During the release mode compilation, it shown me

/mnt/data/cslam_catkin/src/ecl_core/ecl_threads/src/lib/priority_pos.cpp: In function ‘bool ecl::set_priority(ecl::Priority)’:
/mnt/data/cslam_catkin/src/ecl_core/ecl_threads/src/lib/priority_pos.cpp:115:9: error: ‘throwPriorityException’ is not a member of ‘ecl::threads’
/mnt/data/cslam_catkin/src/ecl_core/ecl_threads/src/lib/priority_pos.cpp: In

[2012-12-04 05:50] jakan2 opened #3 "cross compiling of ecl_config"
[code]

[2012-12-04 06:19] jakan2 opened #4 "gtest during the cross compiling"
[code]

[2012-12-04 06:40] stonier commented on #3
Just needed better handling and testing on a system with no float96. Logic added in https://github.com/stonier/ecl_lite/commit/6bbea76c3a2e68f39684a7205b2387d5a1229b93 and https://github.com/stonier/ecl_lite/commit/89cc8f2d1256499a780d72cbba7bd1a50eb36bed

[2012-12-04 06:40] #3 closed, assigned to nobody

[2012-12-04 06:41] stonier commented on #4
Unused gtest header...removed in c755d9c2b69b4a6c162ecb1e3d8a0e74e70e34ec

[2012-12-04 06:41] #4 closed, assigned to nobody

[2012-12-06 15:03] stonier commented on #2
Fixed, along with some other minor bugs.

[2012-12-06 15:03] #2 closed, assigned to nobody

[2012-12-06 15:04] stonier opened #5 "In place .hpp.in is a broken concept"
These need to get made and used from the build directory, otherwise things like CMAKE_BUILD_TYPE switches break.

[2012-12-06 15:05] stonier opened #6 "ECL_HAS_EXCEPTIONS is false in release mode"
This is rather unintuitive, I should perhaps define this as ECL_HAS_DEBUG_EXCEPTIONS, and further define this differently.

[2012-12-06 15:06] stonier opened #7 "ecl_debug_catch fails in release"
[code]

is broken in release mode because it doesn't know what e is.

[2012-12-18 18:56] stonier commented on #5
Fixed here in e40d62b71b2fee187347c7af539a6850e7c8bb6b and also in https://github.com/stonier/ecl_lite/commit/fd6e3549acee553043a128609672ae0812de7663 and https://github.com/stonier/ecl_lite/commit/a1f768a2651f168bc895f32463be7ccd3f46ab14

[2012-12-18 18:56] #5 closed, assigned to stonier

[2013-01-16 23:27] pallegro commented on #6
This is causing a build failure for me because in ecl_ipc/src/lib/shared_memory_pos.cpp openSharedSectionException and memoryMapException aren't defined due to ECL_HAS_EXCEPTIONS being false and they're used inside a ecl_throw rather than ecl_debug_throw (which seems to be used elsewhere for these).

What would you recommend: 1) replacing #ifdef ECL_HAS_EXCEPTIONS with #ifndef ECL_DISABLE_EXCEPTIO

[2013-01-17 00:54] stonier commented on #6
In america at the moment and I should get my head into this before I answer, so I'll have a poke on the weekend. Thanks for the heads up.

[2013-01-24 12:47] stonier commented on #6
I have no problems in release mode. By chance was the fix that you're looking for put in 7246843e60b259be7400a07c49446b8f9c3cbc4d? If you have the latest source, or version 0.50.3, it should be fixed.

[2013-01-24 18:47] pallegro commented on #6
Ahh, sorry, I was running 0.44.0 from trunk of https://code.google.com/p/embedded-control-library.
FYI this is what is given at http://www.ros.org/wiki/ecl_core (and ecl_tools, ecl_litem, ecl_manipulation , ecl_navigation) and by roslocate.

[2013-01-24 23:55] stonier commented on #6
Ah, looks like the documentation isn't getting generated since Nov 22.

I'll open a separate issue for that. Thanks for the heads up.

[2013-01-24 23:55] #6 closed, assigned to stonier

[2013-01-24 23:56] stonier opened #8 "Ros wiki documentation not getting updated"
It's still stuck at Nov22 on the old google code. Refer to http://www.ros.org/wiki/ecl_core

Also applies to the other ecl_xxx stacks.

[2013-01-25 00:55] stonier commented on #8
https://github.com/ros/rosdistro/pull/391

[2013-01-25 00:55] stonier commented on #6
Following up in https://github.com/stonier/ecl_core/issues/8.

Was incorrectly trying to find doc repos at svn, not git.

[2013-02-26 23:47] yhju opened #9 "exception on device open error - ecl_devices"
When try to open serial device that already opened, ecl_devices throw the OpenError exception. It contains below information.

[code]

but `lsof | grep /dev/kobuki` does not work for symbolic link. It should be `lsof | grep /dev/ttyUSB0` or similar.

[2013-02-27 01:36] #8 closed, assigned to stonier

[2013-02-27 01:39] stonier commented on #9
d87eacd93da589f5c60402e5f35852a1927dfb28

[2013-02-27 01:39] #9 closed, assigned to nobody

[2013-03-11 08:44] bit-pirate opened #10 "Problems with link libraries for ecl_time tests"
E.g.

[code]

[2013-03-11 08:46] bit-pirate commented on #10
We just found out that this problem only occurs, if gtest is not installed. In this case the target is not build (by catkin) and hence linking it fails.

One solution is adding:

[code]

[2013-03-11 09:11] stonier commented on #10
Solution works: there are lots of commits everywhere to bring these up to speed and probably a few more to go, but we seem to be mostly covered now.

[2013-03-11 09:11] #10 closed, assigned to nobody

[2013-03-26 01:27] bit-pirate opened #11 "[ecl_linear_algebra] Required Eigen STL support header does not exist"
Error:

[code]

[2013-03-26 05:26] stonier commented on #11
Are you sure you have BOTH these lines in the `CMakeLists.txt`?

[code]

[2013-03-26 11:47] #11 closed, assigned to nobody

[2013-03-27 05:07] bit-pirate commented on #11
This did the trick for me. Thx!

[2013-03-28 09:12] stonier opened #12 "Internal Eigen"
Renable this.

[2013-04-03 07:29] yichoe opened #13 "Warning type conversion of nano second member of TimeStructure"
The compiler warns the type conversion problem of tv_nsec member of TimeStructure from double to long in ecl_time also ecl_time_lite.

[2013-04-04 14:47] stonier commented on #12
Done in this pull request: #14

[2013-04-04 14:47] #12 closed, assigned to stonier

[2013-04-08 04:38] yichoe opened #15 "Returning local variable from what() member of StandardException and DataException"
what() members of StandardException and DataException return pointer to string which is created locally. Therefore we can't expect what we'll get from calling.

It need to make what() return basic_string instance as it is or make its instance static.

[2013-04-08 09:38] stonier commented on #15
Ah, this might explain the problem I had with it for a long time. On windows it sometimes shows the what(), other times it showed nothing.

Where in the code are you looking at?

[2013-04-08 10:12] yichoe commented on #15
Maybe I forgot :-) I'm looking at ecl_core/ecl_exceptions in win_porting branch.

[2013-04-25 00:24] bit-pirate opened #18 "Add acceleration limiting to smooth linear interpolation"
This has been added to tension spline interpolation, but not yet to smooth linear interpolation.

[2013-04-25 00:30] bit-pirate opened #19 "Lower the amount of required way points for tension spline interpolation"
Currently 5 way points are required, which is probably to high. Let's check, if we can go down to 2 (by inserting pseudo-waypoints)

[2013-04-25 00:34] bit-pirate opened #20 "Check why smooth linear interpolation is so lazy"
The interpolation result contains periods at the start and end, in which exactly nothing happens: acc = vel = 0 for all joints.

For trajectories which contain large position differences for one or more joints, these lazy periods can grow to 0.5sec at the beginning and end.

[2013-04-25 02:30] bit-pirate commented on #20
This is a bug in ecl_manipulation. Ticket has been moved there: https://github.com/stonier/ecl_manipulation/issues/1

[2013-04-25 02:30] #20 closed, assigned to nobody

[2013-05-22 09:03] corot opened #25 "Linking error on Kobuki driver test programs"
[code]

[2013-05-22 12:43] stonier commented on #25
Odd, works for me.  Exactly what version of kobuki and ecl are you compiling against?

for me:
- ecl: latest groovy-devel
- kobuki: latest groovy-devel

[2013-05-23 02:47] corot commented on #25
same.  But remember I compile without calling catkin nor yujin tools

  cd ~/kobuki_ws/build
  KOBUKI_DRIVER_LOCATION=../install
  KOBUKI_DRIVER_PACKAGES="`sed -n -e ":a" -e "$ s/\n/;/gp;N;b a" ../src/kobuki/kobuki_driver/catkin_whitelist`"
  cmake ../src -DCATKIN_WHITELIST_PACKAGES=$KOBUKI_DRIVER_PACKAGES -DCMAKE_INSTALL_PREFIX=$KOBUKI_DRIVER_LOCATION
  make

[2013-05-24 09:39] corot commented on #25
Somehow I was linking against groovy installed libraries instead of against the newly compiled.
Removing ros-groovy-ecl-xxxx clean-make again fixed the problem.

[2013-05-24 09:39] #25 closed, assigned to nobody

[2013-05-24 10:49] corot opened #26 "Error when installing ecl_core on groovy-devel"
Because it tries to install directories

[code]

But the first doesn't exist

[code]

[2013-06-06 07:36] stonier commented on #26
10abfd0720d67749885e40aeadf217e38b21158a

[2013-06-06 07:36] #26 closed, assigned to nobody

[2013-06-06 07:46] stonier commented on #12
Was messed up...redid in f90558e01e35fbd3dbd4304087580311536aebf6

[2013-07-19 10:05] corot opened #30 "32 bit alignment issues with an attribute of type Pose2D<double>"
This comes from an issue on kobuki_auto_docking:

https://github.com/yujinrobot/kobuki/issues/257

After adding EIGEN_MAKE_ALIGNED_OPERATOR_NEW to class declaration the problem remains, what its unexpected according with eigen documentation.

So maybe the problem is on ecl?

[2013-08-09 08:56] stonier opened #31 "internal eigen does not trigger if not including the root linear_algebra.hpp"
e.g.

[code]

fails...

[2013-08-11 23:36] stonier commented on #31
Non-issue, was dan's usage of it that was the problem.

[2013-08-11 23:36] #31 closed, assigned to stonier

[2014-01-28 18:28] dirk-thomas opened #32 "ecl_thread: fails to configure - missing ecl_detect_threads"
It looks like `ecl_build` does not export it correctly.

See failing CI job: http://jenkins.ros.org/job/devel-hydro-ecl_core/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/2/console

[2014-01-28 18:30] dirk-thomas commented on #32
Same for `ecl_lite` using `ecl_detect_platform`: http://jenkins.ros.org/view/Hdev/job/devel-hydro-ecl_lite/3/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/console

[2014-01-29 08:22] stonier commented on #32
Looks like I already updated for this six months ago in https://github.com/stonier/ecl_tools/commit/8749515b2f3e3aa2231079397fae33744b0302e7 and 72f2184219e82b6f9855f7a3367a3d44f335e910 but never released.  Just released, but will wait on closing this for success.

[2014-01-29 17:21] dirk-thomas commented on #32
Looks like the jobs hit the next error now: http://jenkins.ros.org/job/devel-hydro-ecl_core/4/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/console

[2014-02-03 08:11] stonier commented on #32
export the configured header like roscpp does - 110a815a17e341859dac1f22498205100ae6fcf9

[2014-02-03 08:14] stonier opened #33 "CMake logic failing on build farm tests"
Code is ok, and tests run locally ok, but something causing it to fail on the build farm in places (here it is a `ECL_PLATFORM_HAS_POSIX_THREADS` check).

http://jenkins.ros.org/job/prerelease-hydro-ecl_core/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=prerelease/3/console

[2014-02-04 06:48] stonier opened #34 "Client connections sending SIGPIPE"
@jakan2 says that the ecl socket server is getting killed when the client connection breaks. The relevant ecl code:

[code]

So it seems we already had handling for exactly this in our old use cases, but this no longer works. Look up the man pages:

[code]

So SIGPIPE is getting sent which kills the server. The 'fix' would be to do this:

[code]

The question is....why is this code falling over no

[2014-02-04 06:50] stonier commented on #34
@jakan2 - I think I found the reason. From the man pages:

[code]

Probably the linux operating systems we were using did not have POSIX.1-2008 implementations.

[2014-02-04 06:56] stonier commented on #34
We should handle cases where the signal is not defined - I updated the server code appropriately.

[code]

[2014-02-04 06:57] #34 closed, assigned to stonier

[2014-02-07 23:03] dirk-thomas commented on #32
Different error but still failing: http://jenkins.ros.org/job/devel-hydro-ecl_core/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/8/console

[2014-02-12 15:57] stonier commented on #33
9f0dbf31ff25a23eaa59dd63ce4af7aeff67b042 1b0423262ad54c4a550431279c8bc26ef9fe8c53

Basically the cmake logic wasn't getting brought in explicitly for just that package. I'm not entirely sure how this managed to be working on my pc though. At any rate, its now building on the farm well.

[2014-02-12 15:57] #33 closed, assigned to nobody

[2014-02-13 18:12] dirk-thomas commented on #32
Succeeded.

[2014-02-13 18:12] #32 closed, assigned to nobody

[2014-04-02 15:28] stonier commented on #7
This is used liberally through the ycs. Should come up with a solution for it.

[2014-04-12 05:42] bit-pirate commented on #7
The two cases I found are related with data writes on a "ecl::Serial`or`ftdi::Ftdi` instance and look like this:

[code]

I guess, it would be okay to just remove the exception handling until this gets properly fixed. Thoughts?

[2014-04-13 08:23] stonier commented on #7
Sounds good to me - I still can't think of a way around this.

[2014-09-29 00:02] stonier opened #38 "Expand possible baud rates for serial device"
Add a few of the 'non-standard' baud rates to the serial device baud rate enum.

[2014-09-29 00:05] #38 closed, assigned to stonier

[2014-10-07 08:15] Sagexs opened #39 "Out of range error - @file /include/ecl/geometry/smooth_linear_spline.hpp"
Hey guy's,

I get an error in the file ecl/geometry/smooth_linear_spline.hpp. I left a commant at the line I think it is wrong.

template <typename OutputStream>
OutputStream& operator << (OutputStream &ostream, const SmoothLinearSpline &smooth_linear_spline) {

[code]

}

[2014-10-12 04:20] stonier commented on #39
Good catch..thanks.

Fixed in 535ebfda0df6baf410426546e218ed0e0a52e4c1.

[2014-10-12 04:20] #39 closed, assigned to nobody

[2014-12-03 07:50] stonier opened #40 "Utility : quaternion2yaw"
Wanted!

[2014-12-08 00:26] #40 closed, assigned to stonier

[2015-01-02 13:58] bit-pirate opened #41 "First use of serial device throws "device already locked" exception"
After (re-)starting the machine, the first attempt of use a serial device throws this exception: https://github.com/stonier/ecl_core/blob/1337f3db4812031fd18dafab58820fd2b444e9d3/ecl_devices/src/lib/serial_pos.cpp#L145

On the second attempt (restarting the process (not the machine) using the serial device) it works.

@alexreimann is this the error (exception) you have been seeing, when you said "

[2015-01-02 14:02] AlexReimann commented on #41
Nope, what i meant was that some nodes of minimal go down and the robot is
not driveable
On Jan 2, 2015 10:58 PM, "Marcus Liebhardt" notifications@github.com
wrote:

[2015-01-02 14:05] stonier commented on #41
Let me know what errno. shows if you see it - we can look up the man page for `fcnt` to get the hint.

[2015-01-02 15:18] AlexReimann commented on #41
It doesn't give an error code, it is just some ros nodes dying (during
the start of minimal).
On the second try everything works fine. Sometimes everything works on
the first try (2 or 3 times out of 50).

I actually never saw it happen on gocart 1.1.
There was no time for me to further investigate on wednesday because the
reliability test had priority.

Am 02.01.2015 um 23:05 schrieb Daniel Stoni

[2015-01-07 20:09] bit-pirate commented on #41
Just figured something out here.

1.0 was still outstarting the demo setup (minimal + dslam_navigation +
...). Need to run some tests with 1.0 to make sure this was the cause of
this issue. If it is the case, then the exception "device already locked"
would be correct -> 2x the same node tries to lock the USB/serial device.

On 2 January 2015 at 07:18, AlexReimann notifications@github.com wrote:

[2015-01-07 22:12] stonier commented on #41
The posix error value will validate that.

[2015-05-23 16:49] MauroPagliarella opened #43 "Compilation problem using ecl semaphores"
Compilation problem using ecl semaphores in ROS application.

Hi all
For my robotics application running on ros I need to use a semaphore to manage the access to a shared data. I think I installed the ecl package but I'm not able to compile my application.
The command I used to install the packages is:   sudo apt-get install ros-indigo-ecl
and it has been executed without errors.

Any help is appr

[2015-05-24 12:25] MauroPagliarella commented on #43
Resolved!
It was due to my poor understanding of ROS. I forgot to update the find_package section in the CMakeLists.txt file in my catkin package with ecl_ipc reference.

Mauro

[2015-05-24 12:25] #43 closed, assigned to nobody

[2015-06-05 08:49] stonier commented on #43
Good to hear! :neckbeard:

[2015-07-21 04:47] jakan2 opened #45 "TimeStamp subtraction"
Please some test resluts
ecl::TimeStamp pair, ctime;

pair-ctime
Time difference: 1.07729
  ctime: 1437453731.893083043
   pair: 1437453731.1970368407

ctime-pair
Time difference: -1.0926
  ctime: 1437453945.911848062
   pair: 1437453945.2004448617

[2015-07-22 01:10] #45 closed, assigned to nobody

[2015-07-22 09:15] vrabaud commented on #40
Your implementation does not take into account the gimbal lock. You should probably use:
https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2/include/tf2/impl/utils.h#L123
(not yet released but in master ...)

[2015-07-26 07:43] stonier commented on #40
You have too much spare time vincent! :neckbeard:

Thanks for the pointer! Was just a simple utility we can put on the arm board, but good to have it corrected so I don't copy a bad calculation later.

[2015-10-14 08:10] wkentaro opened #47 "Do you have a plan about jade release?"
@stonier

[2015-10-19 01:20] stonier commented on #47
Didn't have a plan, but can do. I'll update here once it's rolling.

[2015-10-19 02:51] wkentaro commented on #47
In my workspace I have ecl packages. ( currently I'm using indigo)
I don't migrate to jade soon, but will do.
So if you release the ecl packages when you have time, it's really grateful.

[2015-10-20 23:22] stonier commented on #47
Debs are on the [build farm](http://www.ros.org/debbuild/jade.html?q=ecl) in the shadow repo.

[2015-10-20 23:22] #47 closed, assigned to stonier

[2015-10-21 04:51] wkentaro commented on #47
thanks :sparkles:

[2016-03-02 07:12] bit-pirate commented on #41
Haven't encounter this in a while now. Closing it. Re-open, if the issue reappears.

[2016-03-02 07:12] #41 closed, assigned to nobody

[2016-04-20 16:17] mikepurvis opened #52 "warning: typedef 'iterator' locally defined but not used"
We get tons of these in our builds:

[code]

[2016-05-03 07:12] stonier commented on #52
Handling the 'unused' compile time asserts for templates is a bit trickier...leaving this open for that.

[2017-01-16 01:28] stonier opened #56 "[threads] check for unlocked mutex before destroying"
From the man page for [pthread_mutex_destroy](https://linux.die.net/man/3/pthread_mutex_destroy)...

*It shall be safe to destroy an initialized mutex that is unlocked. Attempting to destroy a locked mutex results in undefined behavior.*

The ecl threads Mutex class just destroys without checking inside it's [destructor](https://github.com/stonier/ecl_core/blob/devel/ecl_threads/src/lib/mutex_pos.

[2017-04-03 19:49] stonier commented on #13
Closing this - if I see warnings, I'll copy/paste the exact issue details and code loc again.

[2017-04-03 19:50] #13 closed, assigned to stonier

[2017-05-21 15:26] wangzhaodong123 opened #57 "Could not find a package configuration file provided by "sophus""
When i make my workspace,i met this problem,but there is sophus package in my workspace:
CMake Error at ecl_core/ecl_linear_algebra/CMakeLists.txt:22 (find_package):
  By not providing "Findsophus.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "sophus", but
  CMake did not find one.

  Could not find a package configuration file provided

[2017-05-21 15:43] stonier commented on #57
Did you install your rosdeps? It will have installed ros-kinetic-sophus (or other rosdistro) for you that way.

[2017-05-22 00:57] wangzhaodong123 commented on #57
It works,thanks for your help.

[2017-05-22 03:39] #57 closed, assigned to nobody

[2017-06-27 16:45] omcandido opened #59 "Can a path be smoothed with a spline with this package?"
All examples have an increasing input vector X, like most implementations of spline calculators, as they are often conceived to smooth mathematical functions.

Can a random path be smoothed with these spline classes? i.e: can I input a pair of x_set and y_set vectors describing a spiral (`CubicSpline cubic = CubicSpline::Natural(x_set, y_set);`) and then retrieve the parameters of the spline at ea

[2017-07-04 15:48] stonier commented on #59
Does constructing two splines over the same parameter set work for you? i.e.

[code]

[2017-12-02 12:40] hecperleo opened #60 "Problem with variable types."
Hello! I'm starting to work with ROS and there are bugs that I can't fix.

I'm trying to enter all the X-coordinate values of a nav_msgs/Path in x_set but I can't get it.

I try it in different ways but I always end up with this mistake:

[code]
What is the right way to do it? Thank you

[2017-12-02 12:55] stonier commented on #60
Your backtrace points to this [code](https://github.com/stonier/ecl_core/blob/devel/ecl_geometry/src/lib/cubic_spline_blueprints.cpp#L87-L89). Are you filling both `x_set` and `y_set` appropriately?

Do you have example code that is failing?

[2017-12-02 14:05] hecperleo commented on #60
Well the answer is no, I'm not doing it the right way.
x_set is defined as ecl:: Array<double> x_set (wp_total); where wp_total is poseListX. size ().

posListX is defined as std:: vector<double>
poseX is defined as double.
[code]
Then
[code]
Thank you for responding so quickly.

[2017-12-02 14:25] stonier commented on #60
Can you check t_set, x_set, y_set and z_set sizes at the time of the exception?

[2017-12-02 14:46] hecperleo commented on #60
All three are zero.

If instead of subscribing to a topic with nav_msgs:: path I enter a path as follows:

[code]
It works perfectly without touching up anything else from the code. But as i said before, i need to suscribe to a topic.

By the way, i checked this topic and its working fine, thats why I think that I am making mistakes with variable types.

[2017-12-03 11:19] hecperleo commented on #60
I found the error. I was reading the topic well with nav_msgs/Path but I wasn't saving its variables well so the size of x_set. y_set and z_set gave me zero.

Thank you so much for the help.

[2018-01-03 19:39] fmrico opened #62 "Request for a ros2-ardent branch"
Hi,

It would be nice to have a ros2-ardent branch to integrate PR for ros2, as #61

Best

[2018-01-04 14:17] techping opened #63 "error: ‘SE3Group’ does not name a type"
I build `ecl_core` package error in ROS lunar distribution...

[code]

[2018-01-12 11:09] hecperleo commented on #60
Hi, I don't know if I am using the issue system correctly but being the same person and the question related to the previous one, I reopen the issue.

Is it possible to change the curvature of the spline? Theoretically it is supposed that modifying the values of t_set should change the curvature, I have tried but without success.

I leave a picture of my 3D path today:
![rviz_screenshot_2018_01_12

[2018-01-16 14:56] stonier commented on #60
If you're using cubic splines, all of the parameters are tuned to meet the needs of smoothing. You'd need more parameters in your spline to dedicate it to changing the curvature. Even then, the results of that tuning are surprising rather than controllable to some mathematical metrics.

This is where I typically use the tension splines, see the documentation [here](http://docs.ros.org/kinetic/api/

[2018-01-19 17:09] #60 closed, assigned to nobody

[2018-02-07 04:18] techping commented on #63
Well, I see.
I should build [sophus](https://github.com/stonier/sophus) with ```indigo``` branch:
[code]

[2018-02-07 04:18] #63 closed, assigned to stonier

[2018-02-07 05:06] stonier commented on #63
Sorry I missed this. Yes, indeed that is the case. The devel branch brought across recent development from upstream, but that can't be released to indigo/kinetic since that would break ABI for people that depend on it already. The devel branch will get released in the next long term release.

[2018-02-07 05:07] #59 closed, assigned to stonier

[2018-02-20 12:32] pmwenzel opened #65 "Build error ecl_math"
I tried to build `ecl_core` package in a ROS kinetic setup. Sophus branch is `release/0.9.1-kinetic`.

[code]

Do you have any hints on this bug? Thanks.

[2018-02-20 15:37] stonier commented on #65
I'd say that was the same as #63, but you shouldn't be seeing that with the `release/0.9.1-kinetic` branch.

[2018-02-20 16:09] pmwenzel commented on #65
No, I build sophus from the `release/0.9.1-kinetic` branch and tried to build the `ecl_core` from the `release/0.61-indigo-kinetic` branch.

[2018-02-20 16:29] stonier commented on #65
Ok, think I have it (my mistake). Delete and re-download the sophus `release/0.61-indigo-kinetic` branch. It should work now. Reopen if you still have problems.

[2018-02-20 16:34] #65 closed, assigned to stonier

[2018-04-03 02:18] stonier commented on #62
`devel` branch is now fully convertedto ros2 / cmake 3 interfaces.

[2018-04-03 02:18] #62 closed, assigned to stonier

[2018-05-04 14:42] clalancette opened #68 "Failing to build the tests with ament"
I have an ament workspace with `ecl_lite`, `ecl_core`, `ecl_tools`, and `sophus` checked out in a Ubuntu 16.04 container.  If I run:

[code]

Then I run into a few test failures.  The first one is:

[code]

Looking into it briefly, it is pretty clear that this line is failing: https://github.com/stonier/ecl_core/blob/devel/ecl_utilities/src/test/references.cpp#L58 , but I'm not sure why.

If I com

[2018-05-04 15:05] clalancette opened #69 "Failing to build with ament in isolation"
I have an Ubuntu 16.04 container with `ecl_tools`, `ecl_lite`, `ecl_core`, and `sophus` checked out in a workspace.  If I try to build in isolation:

[code]

Then the build fails with:

[code]

It looks like ecl_exception isn't properly pulling in the include directories for ecl_error, but I'm not quite sure how to fix it.

[2018-05-04 15:57] stonier commented on #69
Switched over my build to use the isolated flag. Naively I assumed ament was doing isolated by default. Error reproduced. Will fix it as I can between meetings today.

[2018-05-04 20:38] stonier commented on #69
* [x] [ecl_lite/pull_request/17](https://github.com/stonier/ecl_lite/pull/17)
* [x] [ecl_core/pull_request/70](https://github.com/stonier/ecl_core/pull/70)

[2018-05-04 20:54] #69 closed, assigned to stonier

[2018-05-05 12:47] clalancette commented on #69
Just tested it locally, and isolated builds work now.  Thanks!

[2018-05-05 13:02] clalancette opened #72 "Failing to build when using ament `--symlink-install`"
Using the `--symlink-install` flag to `ament` allows you to make modifications to things like Python scripts in the source directory without a compile/install cycle.  Currently trying to build ecl with:

[code]

Fails initially with:

[code]

(if I comment that out and continue on, further errors manifest as well)

[2018-05-08 15:41] stonier commented on #72
That looks like a bug in ament...it's running off the install rule in `ecl_core/ecl_eigen/licenses`:

[code]
so looks like ament isn't aware that it's getting picked up from a subdirectory.

[2018-05-09 13:34] stonier commented on #72
Fixed upstream, should be available next version.

[2018-05-09 13:34] #72 closed, assigned to stonier

[2018-05-09 19:44] clalancette opened #75 "Release into Melodic"
It would be great to get this released into Melodic to start the process of getting the turtlebot2 repositories released there. Thanks!

[2018-05-14 12:00] #75 closed, assigned to stonier

[2018-05-14 12:00] stonier commented on #75
Done!

[2018-05-17 09:18] clalancette commented on #75
Thanks!

[2018-08-23 15:05] lucascoelhof opened #76 "warning: dynamic exception specifications are deprecated in C++11"
Hi,

My package depends on ecl_geometry, and when I was trying to migrate from Indigo to Melodic, I got a lot of warnings regarding dynamic exception specifications, like this one:

I found a discussion in [StackOverflow](https://stackoverflow.com/questions/13841559/deprecated-throw-list-in-c11) about this issue.
I would suggest to change that, since it is deprecated.

[2018-09-11 16:02] stonier commented on #76
Aha...building with defaults of catkin tools on melodic blocks you on this error.

I'll update shortly.

[2018-09-11 19:09] stonier commented on #76
Released in melodic:

* ecl_core: https://github.com/stonier/ecl_core/pull/77 -> 0.62.2
* ecl_manipulation: https://github.com/stonier/ecl_manipulation/pull/5 -> 0.60.3

Also cherry-picked over to the ros2 `devel` branches.

[2018-09-11 19:09] #76 closed, assigned to stonier

[2018-09-16 15:16] stonier opened #79 "Redact library exports"
These were brought in PR #73 to make up for a shortfall with `ardent`. This was later fixed in [ament_cmake#132](https://github.com/ament/ament_cmake/issues/132).

This should be ok to fix in `bouncy`. Note that it's more than just reverting the PR. Some fixes to the interfaces call need to be made.

[2018-09-17 16:57] stonier commented on #68
Everything now building/testing on bouncy/bionic. Reopen if necessary.

[2018-09-17 16:57] #68 closed, assigned to nobody

[2018-09-27 14:50] #79 closed, assigned to stonier

[2018-12-05 03:11] benbenji opened #82 "error during install melodic version"
Hi  when I tried to install the melodic version of ecl_core the output shows that problem:
CMake Error at ecl_core/ecl_linear_algebra/CMakeLists.txt:29 (get_target_property):
get_target_property() called with non-existent target "Sophus::Sophus".
I use the melodic version of sophus
did any gays meet this problem ? I will appreciate it very much if you can give me a solution

[2018-12-14 20:30] IanTheEngineer opened #83 "ROS2 Arm Builds"
It would be super handy for ARM-based platforms to have a Bloom Debian release of ECL for ROS Crystal. Thanks!

[2018-12-14 23:42] stonier commented on #83
Sure... I'll learn how to do that

On Fri., 14 Dec. 2018, 15:31 Ian McMahon <notifications@github.com wrote:

[2019-01-02 14:59] stonier commented on #82
Did you use the binaries or the release branches (make sure you're not using the devel branches anywhere)?

[2019-05-23 14:46] josephkeem opened #84 "Duplicate packages "ecl_mobile_robot" when compiling kobuki_core"
Hello,

I'm trying to follow [this guide](https://yujinrobot.github.io/kobuki/enInstallationLinuxGuide.html) to compile/run the kobuki_driver C++ library without ROS on Ubuntu 18.04.2 LTS and I've run into an issue with `catkin_make_isolated --install`when trying to prepare the catkin workspace.

Here's the error that I'm getting when I run the command above:

    Base path: /home/josephkim/Deskto

[2019-06-03 00:47] stonier commented on #82
Aging out.

[2019-06-03 00:47] #82 closed, assigned to nobody

[2019-06-03 00:58] stonier commented on #84
Yujin isn't keeping the kobuki software up to date so there is some bit-rotting here and there.

To solve your problem though, if you're looking to build the ROS1 version of the software, make sure you pull from branches on the repositories for the melodic releases. e.g. for `ecl_core` pull `release/0.62-melodic` instead of devel. For `kobuki_core` pull `melodic` instead of `devel`.

Note: the err

[2019-06-03 00:59] stonier commented on #84
Closing this one out, but feel free to post questions here if you have them.

[2019-06-03 00:59] #84 closed, assigned to stonier

[2019-06-03 01:00] stonier commented on #83
@IanTheEngineer this one slipped by me, still need (I'm about to trigger dashing binaries)?

[2019-06-03 17:11] josephkeem commented on #84
To get the kobuki_core library compiled, we gave up on using the tutorial linked in the OP. Instead, we downloaded the whole kobuki_core repo from github and the ecl-core, catkin, libusb-dev, and libftdi-dev debian packages, and compiled kobuki-core ourselves with catkin. This worked and allowed us to run the kobuki_core demo files on the Turtlebot2 without ROS.

[2019-11-19 14:47] jbeck28 opened #90 "compliation issue on Melodic"
I'm using the 0.62.2 from the repos on Ubuntu 18, and I'm getting the following error when trying to compile code which uses ecl::Array

[code]

Good odds this is my fault, but I haven't been able to figure it out. Any assistance would be appreciated.

[2019-12-09 18:01] jbeck28 commented on #90
Made a silly mistake in my cmakelists.txt, closing.

[2019-12-09 18:01] #90 closed, assigned to nobody

[2019-12-12 17:18] jbeck28 opened #91 "Smooth Linear Spline causing massive deviations in position"
I've been trying to use the SmoothLinearSpline functionality, and I've found that for the data set I'm using, I get absolutely huge deviations in position for the points I've defined. That is, points that are programmed, not interpolated, still have deviations. I'm not sure if this is an issue with the library or an issue with the data that I'm using. Note that all the positions should be well wit

[2019-12-12 22:01] stonier commented on #91
Any chance you could point me to your data set or better yet, a small bit of code that reproduces the problem?

[2019-12-23 17:33] jbeck28 commented on #91
Hi, sorry for the massive delay, I missed your email.

Here is the chunk of code which creates the interpolant:

[code]
Note that the above iterates through all six joints, and fits a spline for each of them. The one that I sent you is joint 1.

And then the section of code which evaluates the spline(s):
[code]
A specific dataset has been attached, the raw data is called before.zip, and contains a

[2020-01-09 16:23] clalancette opened #92 "Exceptions for ecl::Serial seem to be empty"
I'm currently running the `kobuki_version_info` binary from https://github.com/yujinrobot/kobuki_core/blob/7148901b01da56821c17bf74c26ca7cc52cff593/kobuki_driver/src/tools/version_info.cpp .  If I don't have permissions to access the /dev/kobuki serial device, for instance, I expect the program to fail with an error.  It does fail, but gives me the following:

[code]

This should have more detaile

[2020-01-09 20:06] stonier commented on #83
No longer necessary, will look into this if a use case for them comes up again.

[2020-01-09 20:06] #83 closed, assigned to stonier

[2020-01-09 20:37] clalancette opened #93 "Warning/error compiling against nullary_function.hpp"
While doing a port of kobuki_velocity_smoother to ROS 2, I ran into an unused typedef in nullary_function.hpp.  The code in question is here:  https://github.com/clalancette/kobuki/tree/ecl-nullary-unused-typedef-example/kobuki_velocity_smoother.  To reproduce, clone the repository, switch to the ecl-nullary-unused-typedef-example branch, then run:

[code]

You'll see the following output:

[code]

[2020-01-11 05:23] #15 closed, assigned to nobody

[2020-01-11 05:24] #92 closed, assigned to stonier

[2020-03-11 14:01] clalancette commented on #93
This was fixed by #99, so closing.

[2020-03-11 14:01] #93 closed, assigned to nobody

[2020-03-11 14:06] clalancette commented on #7
@stonier For what it is worth, I just built all of ecl stuff locally in Release mode, and everything seems to work here.  So we might consider closing this very old bug.

[2020-03-11 14:19] stonier commented on #7
Oh, that's interesting. I should leave bugs open more often, let the world fix my problems :)

[2020-03-11 14:19] #7 closed, assigned to stonier

[2020-05-24 06:32] fmrico opened #104 "ecl in Noetic"
Dear @stonier

There will be a release for Noetic? I am using kobuki, and it depends on ecl :)

Thanks!!

[2020-06-03 13:20] stonier commented on #104
On their way

[2020-06-05 08:17] m2kulkarni commented on #104
How can i build such that it is comaptible with noetic?

[2020-06-06 14:45] stonier commented on #104
I haven't tried it myself but you should be able to just drop ecl_tools, ecl_lite, sophus and ecl_core into your workspace like any other ros repository.

[2020-06-06 14:47] stonier commented on #104
Tracking RosDistro PR's

* [ecl_tools](https://github.com/ros/rosdistro/pull/25074)
* [ecl_lite](https://github.com/ros/rosdistro/pull/25304)
* [sophus](https://github.com/ros/rosdistro/pull/25361)
* ecl_core ... coming

[2020-06-06 16:29] m2kulkarni commented on #104
Hey, so i tried doing that. I cloned this repository into my workspace and then did catkin_make but there is a error `Error: Packages with unknown build types exist
Can not build workspace with packages of unknown build_type`.
![Screenshot from 2020-06-06 21-56-03](https://user-images.githubusercontent.com/56233197/83949364-ffba6380-a840-11ea-9944-cbee1e3e6417.png)

[2020-06-06 16:52] stonier commented on #104
I suspect you've got the wrong branches. The default branch for ecl repositories now targets ROS2.

This [ecl.repos](https://github.com/stonier/repos_index/blob/devel/noetic/ecl.repos) should work for noetic, or at least give you the hint. I don't have noetic installed yet, so let me know how it goes.

[2020-06-07 17:00] m2kulkarni commented on #104
Hey, so basically I am trying to run [Champ ](https://github.com/chvmp/champ). In that it automatically clones yocs_velocity_simulator. I saw your comment on yocs too.
![Screenshot from 2020-06-07 22-25-19](https://user-images.githubusercontent.com/56233197/83974926-635e9280-a90e-11ea-9ce9-49ee79911454.png)

Also as you suggested, i tried cloning the melodic release version but the errors persiste

[2020-06-07 18:07] stonier commented on #104
That's a fairly generic message that usually indicates it's not around or has been skipped because catkin doesn't know what to do with it. You'll have to dig around earlier in the build output to grokk that. Unfortunately, I don't have a `20.04` installation yet, so can't try to reproduce here.

If there is something peculiar to `20.04`, I'll get some signal from the build farm once those PR's get

[2020-06-08 16:46] stonier commented on #104
Looks like I need a noetic install after all - there are some critical [warnings turning into errors](https://mail.google.com/mail/u/0/#inbox/FMfcgxwHNgldczfRQMQBSCrvQmnmjBbW) being caught on 20.04 that weren't being caught on 18.04 :)

[2020-06-08 17:02] m2kulkarni commented on #104
Hey, sorry for not replying. It actually did build successfully. I guess sopheus wasnt working with other packages so i built it in another workspace and ecl_toos, ecl_core and ecl_lite in another. Thankully now there are no errors when i try to catkin_make champ. BUT the models are still not working, but i guess that has nothing to do with ecl.(i have posted that as another [issue](https://github

[2020-06-08 17:48] stonier commented on #104
Ah, the release version in CI is setting stricter build flags I expect. And yes, I forgot with catkin you need sophus (pure cmake project) in an underlying workspace. Good to hear it works.

Keeping this open - still tracking the noetic release.

[2020-08-28 14:22] stonier commented on #104
Debs are in.

[2020-08-28 14:22] #104 closed, assigned to stonier

[2020-08-28 14:23] stonier opened #106 "Build warning for threads"
From this [github action](https://github.com/kobuki-base/kobuki_documentation/runs/1041856773?check_suite_focus=true) for kobuki.

[code]

occuring whenever `find_package(ecl_threads)` is called. Can't reproduce locally - the github action is using a custom installed 3.17 version of cmake in `/usr/local`, whereas the official release for `ubuntu 20.04` is `v3.16`.

Not urgent (seems to be just pro

[2020-09-02 04:10] stonier opened #108 "Deprecate LegacyPose2D"

[2020-09-12 15:18] #108 closed, assigned to nobody

[2020-10-05 09:33] DC-12 opened #109 "Error: Packages with unknown build types exist."
I am trying to source install ROS-Kinetic on a Raspberry Pi 4 with Raspbian Buster. So after the successful installation of ROS-Kinetic, I try to install the ecl_core package since it is required by my robot package. I git clone the same inside `~/ros_kinetic_ws/src` and try to build the ros_caktin_ws using `sudo ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release --install-

[2020-11-05 18:38] ebimor opened #110 "required eigen version on Ros melodic"
Hi there,

On linux 18.04 and ROS melodic, I have a lot of problems with including the ecl headers (specifically ecl_geometry) and the errora that I receive are related to eigen (it's a long list of errors so I don't copy them here). I resolved the issue by downgrading the version of eigen on my system to 3.2.1. Strangely, I can compile everything without any problem on Linux 16.04 and ROS kinetic

[2020-11-10 23:31] eshahrivar-cpr commented on #110
Closing here. It was a linking problem on my side.

[2020-11-10 23:32] ebimor commented on #110
Closing this issue here. It was a linking issue on my side.

[2020-11-10 23:32] #110 closed, assigned to nobody

[2021-02-19 15:28] Ankita-Singh-21 commented on #57
Install sophus from source and extract it :       https://github.com/strasdat/Sophus.git
(rename sophus-master to sophus) and move it to /usr/local/include
sudo cmake ..
sudo make
(sudo make install)

[2021-02-24 08:25] wolfv opened #111 "Building on OS X and Windows"
Hi,

we've recently tried to build the ecl libraries as part of the RoboStack effort (we try to package all of ros-noetic for Linux, OS X and Windows as conda packages). We recently [had a blog post about this](https://medium.com/robostack/cross-platform-conda-packages-for-ros-fa1974fd1de3).

Unfortunately we hit some issues with OS X and Windows.

I just wanted to check if you have some ideas how

[2021-02-25 10:30] wolfv commented on #111
@stonier there is some more analysis of what's going on in the PR linked here: https://github.com/RoboStack/ros-noetic/pull/51

[2021-02-26 15:34] stonier commented on #111
Whoa, time warp. Been a long time since I've compiled these libraries for windows and mac, maybe 2007? My company shifted entirely over to linux at that time and I stopped 'officially' supporting those platforms due to not having CI around for them.

Having said that, it's probably _close_ to working since the libraries haven't changed much and I do know some people ran kobuki on windows which use

[2022-02-18 23:56] emersonknapp opened #112 "Release to Galactic/Rolling"
Howdy - noticed this is not in Galactic/Rolling ros2 distros and I would like to use it!

[2022-05-03 13:57] fpasch commented on #112
I would also highly appreciate a release for galactic/rolling.

[2022-06-30 10:09] igrak34 opened #113 "CONCEPT_CHECK_FAILED"
Hello!
I am trying to build ecl_core in my workspace (ROS2 Humble) and I am receiving this error during compilation
[code]
Can you explain why I get this error and how I can fix it?

[2022-07-01 13:29] ljaniec commented on #112
Same for `humble` now :)

[2022-07-05 07:42] ljaniec commented on #113
I am interested in these as well

[2022-10-24 13:09] clalancette commented on #112
This has now been done for Foxy, Galactic, and Rolling, which is great.  Given our success on Rolling, I'm fairly confident that Humble would succeed.  @stonier , would you mind doing a release there?